body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.t {
    background-color: white;
}

.header {
    background-color: #fff;
    padding: 10px;
    text-align: center;
}

.nav {
    display: flex;
    justify-content: center;
    background-color: #f0f0f0;
    padding: 10px;
}

.nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #3498db;
}

.main {
    padding: 20px;
}

.connect-text {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.social-icons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.social-icons img {
    height: 40px;
    width: 40px;
}

.contact-info {
    margin-top: 20px;
    text-align: center;
}

.contact-info p {
    font-size: 18px;
    margin: 10px 0;
}

@media (max-width: 768px) {
    .nav {
        flex-direction: column;
        align-items: center;
    }

    .nav a {
        margin: 10px 0;
    }
}




