body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    background-color: #fff;
    padding: 10px;
    text-align: center;
}

.nav {
    display: flex;
    justify-content: center;
    background-color: #f0f0f0;
    padding: 10px;
}

.nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #3498db;
}

.main {
    padding: 20px;
    text-align: center;
}

.connect-text {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.social-icons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    font-size: 20px;
}

.social-icons img {
    height: 40px;
    width: 40px;
}

.contact-info {
    margin-top: 20px;
    text-align: center;
}

.contact-info p {
    font-size: 18px;
    margin: 10px 0;
}

.reviews {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    
}

.review-1,
.review-2 {
    width: 200%;
    padding: 10px;
    margin: 10px;
   
    height: 100%;
}

.review-img-1 {
    max-width: 200%;
   
    width: 120%; /* Adjust the width as needed */
    max-height: 1000px; /* Set a max height to maintain proportion */
    height: 450px;
}
.review-video {
    width: 100%;
    height: auto;
}

@media (max-width: 900px) {
    .review-img-1 {
      width: 130%;
    }
    
}

@media (max-width: 800px) {
    .review-img-1 {
      width: 150%;
    }
    
}

@media (max-width: 700px) {
    .review-img-1 {
      width: 200%;
      margin-left: -50px;
    }
    
}


@media (max-width: 500px) {
    .review-img-1 {
        max-width: 300%;
        width: fit-content;
      margin-left: -80px;
    }
    
}

@media (max-width: 350px) {
    .review-img-1 {
        max-width: 1000%;
        width: fit-content;
        width: 400%;
         margin-left: -80px;
         height: 350px;
    }
    
}

@media (max-width: 290px) {
    .review-img-1 {
        max-width: 1000%;
        width: fit-content;
        width: 500%;
         margin-left: -80px;
         height: 350px;
    }
    
}
@media (max-width: 768px) {
    .nav {
        flex-direction: column;
        align-items: center;
    }

    .nav a {
        margin: 10px 0;
    }
    
}




    

    


    
