/* Add your mobile styles here */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
}

.header-grid {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Ensure space between logo and catch container */
    background-color: #fff;
    position: fixed;
    width: 100%;
    z-index: 1;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.logoImg {
    height: 60%;
    width: auto;
    margin-left: 10px;
}

.catchContanor {
    flex-grow: 1;
    text-align: center;
}

.catchContanor p {
    font-size: 24px;
    margin: 0;
    padding: 10px;
}

.navBtns {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.btnforheader {
    font-size: 18px;
    margin: 5px;
}

.mainTitle {
    font-size: 24px;
    text-align: center;
    margin-top: 30%;
    margin-left: 10%; /* Adjust the margin-left as needed */
}

.main-mortage,
.main-reno,
.main-investment,
.main-about {
    padding: 20px;
    background-color: #fff;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.header-text,
.header-text-reno,
.header-text-investment,
.header-text-about {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.mortgage-text,
.reno-text,
.investment-text,
.about-text {
    font-size: 14px;
    text-align: justify;
}

.sunsetPhoto {
    width: 100%;
    height: auto;
}

@media (max-width: 900px) {
    .header-grid {
        height: 60px;
    }

    .btnforheader {
        font-size: 16px;
        margin-right: 5px;
    }

    .mortgage-text,
    .reno-text,
    .investment-text,
    .about-text {
        font-size: 12px;
    }
}

@media (max-width: 500px) {
    .btnforheader {
        display: block;
    }

    .main-mortage,
    .main-reno,
    .main-investment,
    .main-about {
        margin: 5px;
        text-align: left;
    }

    .investment-text,
    .about-text {
        margin-left: 20px;
    }

    .mainTitle {
        margin-top: 30%;
        margin-left: 10%;
    }
}

@media (max-width: 470px) {
    

    .mainTitle {
        margin-top: 30%;
        margin-left: 5%;
    }
}

