
@media (prefers-color-scheme: dark) {
    .review-img-1 {
        background-color: black;
    }
}
.bottom-about {
    display: none;
}

.review-2 {
    display: none;
}
.header-grid {
    height: 0px;
}

.btnforheader {
    display: block;
    margin-left: 180%;
    font-size: 15px;
    margin-top: 20px;
    
}
.review-1 {
    margin-top: 50px;
}

.navBtns {
    
    
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: -75px;

}

.header-grid {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Ensure space between logo and catch container */
    background-color: #fff;
    
    width: 100%;
    z-index: 1;
    
    
    
}

.header-text {
    margin-left: 350px;
    
}

.renovations-text {
    font-size: 18px;
    margin-left: 30%;
    margin-top: -43%;
    width: 70%;
    
}

.reno-pics {
    display: block;
}

.review-1 {
    font-size: 15px;
}

@media (max-width: 750px) {
    
    .header-text {
        margin-left: 250px;
        
    }
    

    .btnforheader {
        font-size: 15px;
        
        
        
    }
    

    .renovations-text {
        margin-top: -50%;
        
    }

}

@media (max-width: 700px) {
    
    .mainBody {
        width: 100%;
    }
    .renovations-text {
        font-size: 17px;
        margin-top: -45%;
    }
    .btnforheader {
        
        margin-left: -450%;
        
    }
    .review-1 {
        font-size: 13px;
        margin-left: 0px;
    }
    
    
}

@media (max-width: 650px) {
    
    .header-text {
        margin-left: 200px;
        padding-bottom: 0px;
        margin-bottom: 0px;

        
    }
    .btnforheader {
        
        margin-left: -400%;
        
    }
    .reno-pics {
        margin-left: -7%;
    }

    .renovations-text {
        margin-top: -51%;
        margin-left: 30%;
        font-size: 16px;
        width: 50%;
    }
    
}

@media (max-width: 610px) {
    
  
    .btnforheader {
        
        margin-left: -380%;
        
    }
    .reno-pics {
        margin-left: -7%;
    }

    .renovations-text {
        margin-top: -51%;
        margin-left: 35%;
        font-size: 16px;
        width: 50%;
    }
    
}



@media (max-width: 550px) {
    
    .review-img-1 {
        width: 130px;
        
    }

    .txt {
        width: 50%;
    }

    .renovations-text {
        margin-top: -75%;
        margin-left: 30%;
    }
    .btnforheader {
        
        margin-left: -330%;
        
    }

   

    .header-text {
        margin-left: 125px;
    }
    
}

@media (max-width: 500px) {
    
 .reno-pics {
    width: 200px;
    height: 200px;
 }

 .btnforheader {
    margin-left: -300%;
    margin-top: 20px;
 }
.review-1 {
    margin-top: 40px;
}
.renovations-text {
    margin-top: -85%;
    
}


    
}

@media (max-width: 460px) {
    
    .btnforheader {
        margin-left: -300%;
    }
    
}

@media (max-width: 451px) {
    

    
    .btnforheader {
        margin-left: -250%;
    }
    .renovations-text {
        margin-top: -90%;
    }
    
}

@media (max-width: 415px) {
    

    .btnforheader {
        margin-left: -220%;
    }
    .renovations-text {
        margin-top: -100%;
        margin-left: 35%;
    }

    
    
}

@media (max-width: 400px) {
    

    .btnforheader {
        margin-left: -200%;
    }
    .renovations-text {
        margin-top: -110%;
        margin-left: 35%;
    }
    
    
}

@media (max-width: 371px) {
    

    .btnforheader {
        margin-left: -170%;
    }
    .renovations-text {
        margin-top: -115%;
        margin-left: 40%;
    }

    
    
}

@media (max-width: 334px) {
    

    .btnforheader {
        margin-left: -140%;
    }
    .renovations-text {
        margin-top: -131%;
        margin-left: 45%;
    }

    .reno-pics {
        margin-left: -20%;
    }

    
    
}

@media (max-width: 328px) {
    

    .btnforheader {
        margin-left: -160%;
    }

    .header-text {
        margin-left: 20%;
    }
    
    
}



